html, body {
    background-color: #313131;
    height: 100%;
}



#view {
    width: 90%;
    height: 100%;
    /*border-color: black;*/
    /*border-width: 3px;*/
    /*border-style: solid;*/
    margin: auto;
    overflow-y: scroll;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.rotary_pane {
    width: 10%;
    background-color: black;
    height: 95%;
    border-radius: 5px;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

#left_rotary_pane {
    float: left;
    margin-left: 2.5%;
}

#right_rotary_pane {
    float: right;
    margin-right: 2.5%;
}

.rotary {
    position: absolute;
    border-radius: 50%;
    width: 50%;
    height: auto;
    padding-top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /*margin: auto;*/
}

/*.left_rot {*/
    /*background-color: #c44700;*/
/*}*/

.rotary1 {
    /*transform: rotate(90deg);*/
    top: 20%;
    background-color: #2dc2d9;
}

#left_rot1_indicator {
    top:10%;
    width: 10%;
    padding-top: 10%;
    background-color: white;
}

#left_rot2_indicator {
    top:10%;
    width: 10%;
    padding-top: 10%;
    background-color: white;
}

#left_rot3_indicator {
    top:10%;
    width: 10%;
    padding-top: 10%;
    background-color: white;
}
.rotary2 {
    top: 40%;
    background-color: #8a004f;
}

.rotary3 {
    top: 60%;
    background-color: #c44700;
}

/*.right_rot {*/
    /*background-color: #603493;*/
/*}*/

#right_rot1_indicator {
    top:10%;
    width: 10%;
    padding-top: 10%;
    background-color: white;
}

#right_rot2_indicator {
    top:10%;
    width: 10%;
    padding-top: 10%;
    background-color: white;
}

#right_rot3_indicator {
    top:10%;
    width: 10%;
    padding-top: 10%;
    background-color: white;
}

#hand_canvas {
    margin: auto;
    width: 70%;
    height: 95%;
    background-color: black;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}


.fader {
    position: relative;
    width: 6%;
    height: 92%;
    border-style: outset;
    border-color: #ffc576;
    border-width: 1px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#left_fader {
    float: left;
    margin-left: 2%;
}

#right_fader {
    float: right;
    margin-right: 2%;
}


.height_indicator {
    position: absolute;
    background-color: #c44700;
    bottom: 0%;
}

#left_fader .height_indicator {
    width: 100%;
    height: 60%;
}

#right_fader .height_indicator {
    width: 100%;
    height: 40%;
}


#gesture_canvas {
    height: 95%;
    width: 80%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

#align_left {
    float: left;
    height: 100%;
    width: 46%;
    margin-left: 3%;
}

#align_right {
    float: right;
    height: 100%;
    width: 46%;
    margin-right: 3%;
    /*margin-right: 6%;*/
}

.gesture {
    position: relative;
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 100%;
    background-color: #603493;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#pinch_left {
    background-image: url("hand_pinch.png");
}

#grab_left {
    background-image: url("hand_rock.png");
}

#flat_left {
    background-image: url("hand_flat.png");
}

#pinch_right {
    background-image: url("hand_pinch.png");
}

#grab_right {
    background-image: url("hand_rock.png");
}

#flat_right {
    background-image: url("hand_flat.png");
}



.frequency {
    background-color: black;
}

.volume {
    background-color: blue;
}

.effects {
    background-color: green;
}

.flip-it {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}
